body{
    background-color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0px;
    text-align: center;
    /* font-size: 1em; */
}

h1{
    color: #66BFBF;
    font-family: 'Raleway', sans-serif;
    font-size: 5.625em;
}

h2{
    color: #62B6B7;
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    /* margin-top: 100px; */
}

.subtitle{
    margin-top: 50px;
}

h3{
    color: #97DECE;
}

hr{
    margin: 100px auto;
    border-color: grey;
    border-style: dotted;
    border-width: 5px 0 0 0;
    opacity: 25%;
    width: 3rem;
}

a{
    color: #97DECE;
    text-decoration: none;
}

p{
    color: #40514E;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 2;
    margin: 0px;
}

.Top-Container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

/* .skills{
    margin-top: 100px;
} */

.skill-img1{
    border: 1px solid;
    border-color: grey;
    border-radius: 100%;
    margin-left: auto;
    margin-right: 30px;
    width: 25%;
    max-width: 15%;
    min-width: 100px;
    float: left;
}

.skill-img2{
    margin-left: 30px;
    margin-right: auto;
    width: 25%;
    max-width: 15%;
    min-width: 100px;
    float: right;
}


.skill-row{
    /* line-height: 2; */
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.hello-row{
    /* line-height: 2; */
    margin: 50px auto;
    text-align: center;
    width: 50%;
}

.GetInTouch-row{
    /* line-height: 2; */
    margin: 30px auto;
    text-align: center;
    width: 50%;
}

.bottomCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.topCloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    margin: 100px 0 0;
    padding-top: 50px;
    height: 140px;
    width: 100%;
  }

  .footer-link{
    color: #11999E;
    margin: auto 25px;
    font-size: 0.75rem;
  }